.content .content-header {
    height: 90px;
    background-color: black;
    color: white;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    margin-right: 10px;
}
.content .message{
    height: 40px;
    background-color: lightgray;
    font-size: 20px;
    margin-left: 2px;
    margin-top: 6px;
    border-radius: 40px;
}
.content .message span{
    font-size: 14px;
    float: right;
    margin-top: 7px;
    font-weight: bold;
}
.message-background{
    position: absolute;
    z-index: 0;
    width: 40%;
    top: 90px;
    left: 336px;
    background-color: white;
    height: 623px;
}